# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data & artifacts
/data/raw/
/data/raw_full/
/data/processed/
/models/
/artifacts/
/plots/
*.zip

# Logs
*.log
